pandas
numpy
scikit-learn
matplotlib
seaborn
ipykernel
torch
shap
transformers
sentence-transformers
chromadb
langchain
langchain-community
langgraph
google-generativeai
fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
psycopg2-binary
